.contactContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 15px;
  list-style-type: none;
  padding: 8px;
  width: 275px;
}

.userdata {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}

.button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #c82333;
}
