#root {
  max-width: 1980x;
  margin: 0 auto;
  padding: 20px;
}

.container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f1ecec;
}
